<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEO Analysis Tools</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

{% include "header.html" %}

<body>
    <div class="container-lg">
        <div class="row">
          <div class="col-sm">
              <div class="card text-white bg-dark" style="max-width: 20rem;">
                  <div class="card-header">Lighthouse Analysis</div>
                  <div class="card-body">
                    <h5 class="card-title">Analysis with Google Lighthouse</h5>
                    <p class="card-text">You can insert multiple urls (10 maximum) into tool to create a full Google Lighthouse reports.</p>
                  </div>
                  <a href="/lighthouse/" class="btn btn-dark">Proceed</a>
              </div>
          </div>
          <div class="col-sm">
              <div class="card text-white bg-dark" style="max-width: 20rem;">
                  <div class="card-header">Domain Lighthouse Tool</div>
                  <div class="card-body">
                    <h5 class="card-title">Analysis with Google Lighthouse</h5>
                    <p class="card-text">Domain Lighthouse Tool.</p>
                  </div>
                  <a href="/domain_lighthouse/" class="btn btn-dark">Proceed</a>
              </div>
          </div>
        </div>
    </div>
</body>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<style>
</style>
</html>